<section class="text-dark sticky-top">
    <div class="container bg-body rounded">
        <form class="d-md-flex justify-content-center row g-3 my-1">
            <div class="col-auto">
                <label for="searchInput" class="col-form-label">Search By:</label>
            </div>
            <div class="col-auto">
                <input type="text" id="searchInput" class="form-control" placeholder="Job title, city, country" #filter>
            </div>
    
            <div class="col-auto">
                <button class="btn btn-primary mb-3" type="button" (click)="filterResults(filter.value)">Search</button>
            </div>
        </form>
    </div>
</section>


<section class="container">

    <app-jobs-listing *ngFor="let listing of filteredJobListing | paginate: {itemsPerPage: 3, currentPage: p}" [job]="listing"></app-jobs-listing>
   
</section>

<div class="container d-flex justify-content-end">
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
</div>
